<%= link_to "Home", root_path, :class => 'brand' %>
<ul class="nav">
  <% if true%>
    <li>A
    </li>
  <% else %>
    <li>B
    </li>
  <% end %>
  <% if true %>
    <li>C
    </li>
  <% else %>
    <li>D
    </li>
  <% end %>
</ul>